.App {
  text-align: center;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr); 
	grid-template-rows: repeat(10, 1fr);
  box-sizing: border-box;
  
}
.Header{
  grid-column: 1/11;
  grid-row: 1/2;
  border-bottom: solid 3px var(--ts_grey_text_color);
  color: var(--ts_white);
  background-color: var(--ts_black);
}

.Aside{
  grid-column: 1/3;
  grid-row: 2/10;
  border-right: solid 3px var(--ts_green);
  color: var(--ts_white);
  background-color: var(--ts_black_shade_1);
}

.Main{
  grid-column: 3/11;
  grid-row: 2/10;
}

.Footer{
  grid-column: 1/11;
  grid-row: 10/11;
  border-top: solid 3px var(--ts_grey_text_color);
  color: var(--ts_white);
  background-color: var(--ts_black);
}

